{{page-title "Beschermde monumenten"}}

<AuApp>
  <AuMainHeader
    @brandLink="https://www.vlaanderen.be/nl"
    @appTitle="Beschermde monumenten"
  >
    {{#if this.session.isAuthenticated}}
      {{log this.currentSession.user}}
      <AuDropdown
        @title="Aangemeld als {{this.currentSession.user.lastName}}"
        @alignment="right"
        role="menu"
      >
        <AuButton @skin="link" role="menuitem">
          <AuIcon @icon="logout" @alignment="left" />Afmelden
        </AuButton>
      </AuDropdown>
    {{/if}}
  </AuMainHeader>
  <AuMainContainer as |m|>
    <m.content @scroll={{true}}>
      <div class="au-o-layout">
        {{outlet}}
      </div>
    </m.content>
  </AuMainContainer>
</AuApp>