{{page-title "Aanvraag werken beschermd monument"}}

<h2>Aanvraag werken beschermd monument</h2>

<SubmissionForm
  @form={{this.form}}
  @show={{this.model.submitted}}
  @graphs={{this.graphs}}
  @sourceNode={{this.sourceNode}}
  @formStore={{this.formStore}}
  @forceShowErrors={{this.forceShowErrors}}
/>

{{outlet}}